.textContainer {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: inherit;
    font-weight: normal;
}

.title {
    font-weight: 700;
    font-size: 44px;

     @include respond(md) {
        font-size: 32px;
    }
}

.button {
    font-size: 18px;
}

.p-20 {
    font-size: 20px;

    @include respond(md) {
        font-size: 18px;
    }

    @include respond(xs) {
        font-size: 16px;
    }
}

.p-18 {
    font-weight: bold;
    font-size: 18px;

    @include respond(md) {
        font-size: 16px;
    }

    @include respond(xs) {
        font-size: 14px;
    }
}

.p-16 {
    font-size: 16px;

    @include respond(md) {
        font-size: 14px;
    }

    @include respond(xs) {
        font-size: 12px;
    }
}

.p-14 {
    font-size: 14px;

    @include respond(md) {
        font-size: 12px;
    }

    @include respond(xs) {
        font-size: 10px;
    }
}

.primary {
    color: var(--color-text);
}

.secondary {
    color: var(--color-secondary);
}

.accent {
    color: var(--color-brand);
}