.card {
    display: flex;
    flex-direction: column;
    height: 578px;
    border-radius: 10px;
    background-color: var(--color-white);
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.3s ease-in-out;

    @include respond(lg) {
        height: 440px;
    }

    @include respond(md) {
        height: 360px;
    }

    @include respond(sm) {
        height: 330px;
    }
}

.card:hover {
    background-color: var(--color-hover);
}

.img {
    height: 360px;
    width: 100%;
    display: block;
    object-fit: cover;
    background-color: var(--color-disabled);

    @include respond(lg) {
        height: 240px;
    }

    @include respond(md) {
        height: 180px;
    }
}

.cardDescr {
    flex: 1px;
    display: flex;
    padding: 24px 12px;
    flex-direction: column;
    justify-content: space-between;

    @include respond(lg) {
        padding: 16px 8px;
    }
}

.textBox {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.captionSlot {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subtitle {
    line-height: 1.25;
}

.bottomContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}