.profilePage {
    max-width: 1240px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    @include respond(xl) {
        max-width: 1024px;
    }

    @include respond(lg) {
        max-width: 768px;
    }

    @include respond(md) {
        max-width: 576px;
    }

    @include respond(sm) {
        max-width: 375px;
    }

    @include respond(xs) {
        max-width: 300px;
    }
}

.profile {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;

    @include respond(sm) {
        gap: 20px;
    }
}

.label{
    font-weight: 700;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.title {
    padding-bottom: 20px;
}

.textContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btnContainer {
    display: flex;
    justify-content: end;
}