.profilePage {
    max-width: 1240px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    @include respond(xl) {
        max-width: 1024px;
    }

    @include respond(lg) {
        max-width: 768px;
    }

    @include respond(md) {
        max-width: 576px;
    }

    @include respond(sm) {
        max-width: 375px;
    }

    @include respond(xs) {
        max-width: 300px;
    }
}

.title {
    padding-bottom: 20px;
    text-align: center;
    border-bottom: 1px solid var(--color-brand);
}

.textContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btnContainer{
    display: flex;
    justify-content: end;
}