.btn {
    background-color: transparent;
    border-radius: 0;
    padding: 0;
}

.btn:hover {
    background-color: transparent;
}

.btn:active {
    background-color: transparent;
}

.btn path {
    fill: var(--color-secondary);

}

.btn:hover {
    path {
        fill: var(--color-red);
    }
}