.vegetarian{
    padding: 14px 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background-color: var(--color-white);
}

.checked{
    outline: 1px solid var(--color-brand);
}

.checkbox{
    border-radius: 4px;
}